/* sets the margin and padding for the entire page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets the bacground color for the entire body element of the page */
body {
    background-color: #d9dcd6;
}
/* styles the page header color, size, and font */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* allows the h1 tag to be displayed next to other elements */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changes the color of 'seo' text in the h1 element */
.header h1 .seo {
    color: #d9dcd6;
}
/* changed div to nav to tie css styling to added semantic HTML element */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* removes bulleted style from nav list */
.header nav ul {
    list-style-type: none;
}
/* positions nav elements next to each other and adds space between them with the margin */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* moved code blocks to follow semantic structure of HTML elements */
a {
    color: #ffffff;
    text-decoration: none;
}
/* adds styling to first section of main page with a backgroud image */
.body {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets width and display style of the page's main content (3 sections total) */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* changes position of images with this class */
.float-left {
    float: left;
    margin-right: 25px;
}
/* changes position of images with this class */
.float-right {
    float: right;
    margin-left: 25px;
}
/* sets font size for all the <p> elements */
p {
    font-size: 16px;
}
/* sets styling for everything in the aside element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Combined the styling parameters for these classes as they are the same */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Combined height attributes for these classes to consolidate code */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/* Combined the header attributes for these classes to consolidate code */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Combined the parameters for these elements as they all share the same styling attributes */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Combined the parameters for the heading elements to consolidate code */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Combined image styling to make code more concise */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* adds styling to footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sets the font size of the footer h2 element */
.footer h2 {
    font-size: 20px;
}
